.item {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #222;
    box-shadow: 1px 2px 3px grey;
    border-radius: 8px;
    color: #222;
    font-size: 2em;
    font-family: arial, sans-serif;
    background-color: #f9d423;
    font-weight: bold;
    cursor: pointer;
}

.item:hover {
    color: #fff;
}

.title {
    text-align: center;
}

#container {
    width: 95vw;
    height: 60vh;
    margin: 0 auto;
    background-color: whitesmoke;
    outline: 8px solid #4834d4;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-gap: 20px 20px;
    grid-gap: 40px;

    /* align-items: center;
    align-items: start;
    align-items: end;

    justify-items: start;
    justify-items: center;
    justify-items: end; */

    align-content: center;
    align-content: start;
    align-content: end;


    grid-template-columns: repeat(3, 200px);
    justify-content: center;
    justify-content: end;
    justify-content: start;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;

    place-content: center;
    place-content: center space-evenly;
}


/*
 auto-fit and minmax() 
 grid-auto-flow g-a-c g-a-r
*/