/* ------------------------------------------------------------------------------
# Always remember your media queries should be at end of your css code 
$ Make sure that your browser is zoomed at 100%, so you can see your media queries 
  applying at exact point.

$ Write down media queries in above sequence:
    max-width : 
        larger breakpoint to smaller breakpoint (top to down)
    min-width : 
        Smaller breakpint to larger breakpoint (top to down)
------------------------------------------------------------------------------ */
html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: lightcyan;
}

h1 {
    font-size: 10rem;
}

p { 
    font-size: 5rem;
}



/* ########## Media Queries ########## */

/* 0-768px */
@media (max-width: 768px) {
    body {
        background: rgb(64, 145, 196);
    }
}

/* 0-500px */
@media (max-width : 500px){
    html {
        font-size: 5px;
    }
    body {
        background: rgb(102, 241, 84);
    }
}


/* or */

@media (min-width: 500px) and (max-width: 768px) {
    body {
        background-color: rgb(236, 96, 96);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: rgb(45, 122, 238);
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-color: rgb(238, 45, 45);
    }
}

@media (min-width: 1201px) {
    body {
        background-color: rgb(247, 19, 114);
    }
}


