*{
    box-sizing: border-box;
}

.box-wrapper {
    border: 4px solid black;
}

.box1 {
    width: 48%;
    float: left;
    background-color: #ccc;
    padding: 10px;
}

.box2 {
    width: 48%;
    float: right;
    background-color: #ccc;
    padding: 10px;
}

.box-wrapper::after {
    content: '';
    display: block;
    clear: both;   
}


@media (max-width: 1024px) {
    .box1, .box2{
        float: none;
        width: 100%;
    }
}